<% content_for :title, "Händler Hinzufügen" %>

<div class="container mt-4">
  <h1 class="new-headlines"><%= I18n.t("vendor.header.new")%></h1>

  <%= render "form", vendor: @vendor %>

  <br>

  <div>
    <%= link_to "Zurück zur Händlerübersicht", vendors_path %>
  </div>
</div>