<% content_for :title, "Händler Hinzufügen" %>

<div class="container mt-4">

  <div id="vendors">
    
<h1 class="new-headlines">Neuer Händler</h1>

<%= render "form", vendor: @vendor %>

<br>

<div>
  <%= link_to "Zurück zur Händlerübersicht", vendors_path %>
</div>
  </div>