<%= render 'vendors/vendor_detail', vendor: @vendor %>
<hr>
<%= render 'stands/stand', stand: @vendor.stand %>

<div>
  <%= link_to "Zurück zur Händlerübersicht", vendors_path %>

  <%= button_to "Diesen Händler löschen", @vendor, method: :delete %>
</div>
