<% content_for :title, "Stand hinzufügen" %>

<div class="container mt-4">
  <h1 class="new-headlines"><%= I18n.t("stand.header.new")%></h1>

  <%= render "form", stand: @stand %>

  <br>
  <div>
    <%= link_to "Back to stands", stands_path %>
  </div>
</div>


