<h1>DATENSCHUTZHINWEISE</h1><p>GEMÄSS ART. 13 DSGVO</p><p>Volksfestverein Malchow e.V.<br> 
<br> 
Bahnhofstr. 5<br> 
17213  Malchow <br> 
</p>Bei Fragen zum Datenschutz stehen wir Ihnen unter info@volksfestverein.de oder unter der oben angegebenen postalischen Anschrift zur Verfügung.<p> 
</p><p><h3>DATENVERARBEITUNG AUF UNSERER WEBSEITE UND WEITEREN ONLINE-ANGEBOTEN </h3><br>
<p><strong>Logfiles beim Aufruf unserer Webseite</strong></p>
</p>Bei Aufruf unserer Webseite werden zur Analyse von Fehlern und Sicherheitsvorfällen Logfiles erstellt. Diese bleiben nur für einige Tage bis Wochen gespeichert und werden anschließend automatisch gelöscht.
<br>Für das Hosting unserer Webseite verwenden wir Hetzner als externen Dienstleister. Die Speicherung der Logfiles erfolgt dort.
<p></p>
<p><h3>DATENVERARBEITUNG IM RAHMEN UNSERER VEREINSARBEIT</h3></p>
<p>Daten zur Erfassung und Verwaltung von Anmeldung für einen Standplatz auf dem Sonntagsmarkt zum Volksfest in Malchow werden von den jeweiligen Funktionsträger:innen unseres Vereins nur für die ihnen zugeordnete Aufgabenerfüllung verarbeitet. Im Einzelnen bedeutet dies:

Wenn der Verein Händlerdaten benötigt, um seine Aufgaben zu erledigen, darf er auf alle hierfür erforderlichen Händlerdaten zugreifen. Dazu gehört insbesondere zur Verwaltung von Anmeldung für einen Standplatz auf dem Sonntagsmarkt zum Volksfest in Malchow angegebene Daten.
Die aktuellen Händlerdaten werden für die Dauer bis zum Volksfest und darüber hinaus für ein Jahr, bis zum nächsten Volksfest gespeichert.</p>
<p></p>
<p><h3>BETROFFENENRECHTE</h3></p>
<p>Wenn wir personenbezogene Daten von Ihnen verarbeiten, haben Sie folgende Betroffenenrechte:</p>
<p>ein Recht auf Auskunft über die verarbeiteten Daten und auf Kopie,</p>
<p>ein Berichtigungsrecht, wenn wir falsche Daten über Sie verarbeiten,</p>
<p>ein Recht auf Löschung, es sei denn, dass noch Ausnahmen greifen, warum wir die Daten noch speichern, also zum Beispiel Aufbewahrungspflichten oder Verjährungsfristen</p>
<p>ein Recht auf Einschränkung der Verarbeitung,</p>
<p>ein jederzeitiges Recht, Einwilligungen in die Datenverarbeitung zu widerrufen,</p>
<p>ein Widerspruchsrecht gegen eine Verarbeitung im öffentlichen oder bei berechtigtem Interesse,</p>
<p>ein Recht auf Datenübertragbarkeit,</p>
<p>ein Beschwerderecht bei einer Datenschutz-Aufsichtsbehörde, wenn Sie finden, dass wir Ihre Daten nicht ordnungsgemäß verarbeiten. Für unseren Verein ist der Landesbeauftragte für Datenschutz und Informationsfreiheit Mecklenburg-Vorpommern zuständig. Wenn Sie sich in einem anderen Bundesland oder nicht in Deutschland aufhalten, können Sie sich aber auch an die dortige Datenschutzbehörde wenden.</p>
<p></p>
<p>Dieser Text wurde mit dem Generator für Datenschutzhinweise der Stiftung Datenschutz erstellt.</p>
<p></p>